<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>About Us</h1>
    <h2>Self-Drive Car Rentals in Bangalore</h2>
    <p1>The ever-expanding city of Bangalore, or Bengaluru, is home to Victorian-era buildings that stand side-by-side with new, glass and metal business centres and lush green parks. The wide roads and well-planned highways make the city thoroughly connected. Given the vast network of roads and highways exceeding 3000 km that connects Bangalore to its surroundings, it isn’t surprising to know that there’s been a surge in the number of car rentals within the city.</p1>
    <h2>Places to Go</h2>
    <p1>Since Bangalore’s airport is at a distance from the city, we recommend getting a self-drive car rental in Bangalore as soon as you land. You can drive straight to your business meeting, or if you’re here for leisure, head to the Lalbagh Botanical Gardens for a bit of greenery and fresh air. While there isn’t a lot to see within the city, do take out some time for a few museums and markets. The real appeal of Bangalore lies in its proximity to hill stations and national parks.

        You can use one of OCR's self-drive cars in Bangalore to enjoy the 5-hour journey along SH17 to Madikeri or Coorg. Or, take the Mysore highway to drive to the Queen of the Hills, Ooty. Driving enthusiasts who are up for a challenge can even tackle the winding road that leads to Coonoor, which sits nestled in the evergreen Nilgiris. Those aching for a taste of thrill and awe can visit the Bannerghatta, Nagarhole or Bandipur national parks, all of which are a short drive away from the city.</p1>
    <h2>Selecting a Car</h2>
    <p1>When you opt for a Revv car rental in Bangalore, you have the option of selecting the car of your choice. Our wide fleet has a number of compact hatchbacks that are ideal for daily city drives, comfortable sedans that can be used for short trips out of the city, and spacious and tough SUVs that are best suited for long trips to hill stations.</p1>
    <h2>The CRS Advantage</h2>
    <p1>Renting from CRS is affordable, easy and incredibly convenient. Apart from competitive hourly rental rates, Revv offers unlimited kilometre packages, so you can drive as far as you please without worrying about hitting your limit for the day. As an added advantage, all our cars come equipped with All India Tourists Permits, so you can cross city and state borders without any hassles. All you have to do is, map out your journey and enjoy the ride!</p1>
    
</body>
</html>