{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <script src="https://kit.fontawesome.com/07fcb58cae.js" crossorigin="anonymous"></script>
</head>
<body>
    <h2 class="head"><u>Contact Us</u></h2>
    <div class="cont">
        <h4>Sanjay Hangari</h4>
        <i class="fa-solid fa-phone"></i> : +91 6362682081<br>
        <i class="fa-solid fa-envelope"></i> : sanjayhangari@gmail.com<br>
        <hr color="black">
        <h4>Shreyas Bhatt</h4>
        <i class="fa-solid fa-phone"></i> : +91 7899807762<br>
        <i class="fa-solid fa-envelope"></i> : shreyasbhatt@gmail.com<br>
    </div>
</body>
</html>